[submodule "app/libs/third_party/libusb-cmake"]
	path = app/libs/third_party/libusb-cmake
	url = https://github.com/libusb/libusb-cmake.git
[submodule "app/libs/third_party/libcintelhex/libcintelhex"]
	path = app/libs/third_party/libcintelhex/libcintelhex
	url = https://github.com/martin-helmich/libcintelhex.git
[submodule "app/libs/third_party/LIEF"]
	path = app/libs/third_party/LIEF
	url = https://github.com/lief-project/LIEF.git
[submodule "EtherBenchApp"]
	path = EtherBenchApp
	url = https://github.com/lheywang/EtherBenchApp
[submodule "EtherBenchProbe"]
	path = EtherBenchProbe
	url = https://github.com/lheywang/EtherBenchProbe
[submodule "EtherBenchFirmware"]
	path = EtherBenchFirmware
	url = https://github.com/lheywang/EtherBenchFirmware
[submodule "EtherBenchLib"]
	path = EtherBenchLib
	url = https://github.com/lheywang/EtherBenchLib
