[submodule "app/libs/third_party/libusb-cmake"]
	path = app/libs/third_party/libusb-cmake
	url = https://github.com/libusb/libusb-cmake.git

[submodule "app/libs/third_party/elfparser/elf-parser"]
	path = app/libs/third_party/elfparser/elf-parser
	url = https://github.com/TheCodeArtist/elf-parser.git

[submodule "app/libs/third_party/libcintelhex/libcintelhex"]
	path = app/libs/third_party/libcintelhex/libcintelhex
	url = https://github.com/martin-helmich/libcintelhex.git
